# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment folders
venv/
.env

# Ignore SQLite database files
db.sqlite3

# Ignore log files
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore temporary files
*.tmp
*.swp
*.swo

# Ignore compiled C extensions
*.so